<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udpclient4">
    <!-- 允许程序打开网络套接字 -->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_icon"
        android:label="OnceTom"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.example.udpclient4.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.udpclient4.MainActivity">
        </activity>
        <activity android:name="com.example.udpclient4.chatRoom.ChatRoomActivity"></activity>
        <activity android:name="com.example.udpclient4.GameRoom.GameRoomActivity"></activity>
        <activity android:name="com.example.udpclient4.Server.ServerActivity"></activity>
        <activity android:name="com.example.udpclient4.Account.AccountActivity" />
        <activity android:name=".GameRoom.Over.OverActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".Ranking.RankActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>